<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light shadow-1-strong">
  <div class="container justify-content-between">
    <a
      class="navbar-brand"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img
        src="../../assets/images/logo.png"
        height="30"
        alt="Logo"
        loading="lazy"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            (click)="basicNavbar.toggle()"
            class="nav-link"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="fas fa-home"></i> Home</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="basicNavbar.toggle()"
            class="nav-link"
            [routerLink]="['/projects']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="fas fa-bars"></i> Projects
            <span class="badge bg-success">Completed</span></a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="basicNavbar.toggle()"
            class="nav-link"
            [routerLink]="['/develop-stack']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="fab fa-stack-overflow"></i> Development Stack</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="basicNavbar.toggle()"
            class="nav-link"
            [routerLink]="['/about']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="far fa-user-circle"></i> About</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
