<div class="container">
  <!-- ИС для агенства недвижимости -->
  <div class="row">
    <!-- Изображение -->
    <div class="col-5 my-5">
      <mdb-carousel
        [controls]="true"
        [indicators]="true"
        [animation]="'fade'"
        class="rounded shadow-1-strong"
      >
        <mdb-carousel-item>
          <img
            src="https://github.com/Trushenkov/RealEstateAgencyInformationSystem/raw/master/src/screenshots/mainpage.png"
            class="d-block w-100"
            alt="..."
          />
          <a href="#!">
            <div
              class="mask custom"
              style="background-color: rgba(0, 0, 0, 0.4)"
            >
              <div
                class="d-flex justify-content-center align-items-center h-100"
              >
                <p class="text-white mb-0">Главная страница</p>
              </div>
            </div>
          </a>
        </mdb-carousel-item>

        <mdb-carousel-item>
          <img
            src="https://github.com/Trushenkov/RealEstateAgencyInformationSystem/raw/master/src/screenshots/clients.png"
            class="d-block w-100"
            alt="..."
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
              <div
                class="d-flex justify-content-center align-items-center h-100"
              >
                <p class="text-white mb-0">Клиенты</p>
              </div>
            </div>
          </a>
        </mdb-carousel-item>

        <mdb-carousel-item>
          <img
            src="https://github.com/Trushenkov/RealEstateAgencyInformationSystem/raw/master/src/screenshots/realtors.png"
            class="d-block w-100"
            alt="..."
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
              <div
                class="d-flex justify-content-center align-items-center h-100"
              >
                <p class="text-white mb-0">Риэлторы</p>
              </div>
            </div>
          </a>
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
    <!-- Описание -->
    <div class="col-7">
      <div class="p-5 text-center bg-light">
        <h2 class="mb-3">ИC для агентства недвижимости</h2>
        <p class="mb-3">
          ИС для агенства недвижимости, которое помогает своим клиентам купить
          или продать объекты недвижимости
        </p>
        <a
          class="btn btn-outline-dark"
          rippleColor="dark"
          mdbRipple
          target="_blank"
          href="https://github.com/Trushenkov/RealEstateAgencyInformationSystem"
        >
          <i class="fab fa-github"></i> View project on GitHub
        </a>
      </div>
    </div>
  </div>

  <!-- Игра "Космические войны" -->
  <div class="row">
    <!-- Описание -->
    <div class="col-7">
      <div class="p-5 text-center bg-light">
        <h2 class="mb-3">Мобильная игра "Космические войны"</h2>
        <p class="mb-3">
          Цель игры: <br />Космический корабль летит в космосе. Ему на пути
          встречаются метеориты. Нужно пролететь как можно дольше, не врезаясь в
          метеориты.
        </p>
        <a
          class="btn btn-outline-dark"
          rippleColor="dark"
          mdbRipple
          target="_blank"
          href="https://github.com/Trushenkov/SpaceGame"
        >
          <i class="fab fa-github"></i> View project on GitHub
        </a>
      </div>
      <!-- Jumbotron -->
    </div>

    <!-- Изображение -->
    <div class="col-5 my-5">
      <div
        class="bg-image hover-overlay ripple shadow-1-strong rounded"
        data-mdb-ripple-color="light"
      >
        <img
          src="https://github.com/Trushenkov/SpaceGame/raw/master/android/assets/space-game.gif"
          class="w-100"
          height="400px"
        />
        <a href="#!">
          <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.2)"
          ></div>
        </a>
      </div>
    </div>
  </div>

  <!-- Интернет-магазин мебели для дома -->
  <div class="row" style="margin-bottom: 3rem">
    <!-- Изображение -->
    <div class="col-5 my-5">
      <div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
        <img
          src="https://github.com/Trushenkov/inet-shop/raw/master/shop.png"
          class="w-100"
        />
        <a href="#!">
          <div
            class="mask"
            style="
              visibility: visible;
              background-color: rgba(57, 192, 237, 0.2);
            "
          ></div>
        </a>
      </div>
    </div>

    <!-- Описание -->
    <div class="col-7">
      <div class="p-5 text-center bg-light">
        <h2 class="mb-3">Интернет-магазин мебели для дома</h2>
        <p class="mb-3">
          Разработан Интернет-магазин мебели для дома на языке программирования
          PHP
        </p>
        <a
          class="btn btn-outline-dark"
          rippleColor="dark"
          mdbRipple
          target="_blank"
          href="https://github.com/Trushenkov/inet-shop"
        >
          <i class="fab fa-github"></i> View project on GitHub
        </a>
      </div>
      <!-- Jumbotron -->
    </div>
  </div>
</div>
