<div class="container" style="margin-top: 4rem; margin-bottom: 1rem">
  <div class="row">
    <div class="col-12 col-md-5 my-4 my-sm-4 my-md-4">
      <div
        class="bg-image hover-overlay ripple shadow-1-strong rounded"
        data-mdb-ripple-color="light"
      >
        <img src="../../assets/images/me.jpg" class="w-100" alt="..."/>
        <a>
          <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.2)"
          ></div>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-7">
      <!-- Описание -->
      <div class="p-3 text-left">
        <h1 class="mb-3">Trushenkov Dmitry</h1>

        <div class="card my-4 px-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Company:</strong> ООО "АйТи Софт"
            </li>
            <li class="list-group-item">
              <strong>Company website: </strong>
              <a href="http://www.it-soft.pro/">www.it-soft.pro</a>
            </li>
            <li class="list-group-item">
              <strong>Post:</strong> Software engineer
            </li>
            <li class="list-group-item">
              <strong>Education:</strong> Penza College of Information and
              Industrial Technologies (IT college)
            </li>
          </ul>
        </div>

        <h4 class="mb-3">My social links:</h4>

        <div class="d-flex flex-wrap">
          <!-- Вконтакте -->
<!--          <a-->
<!--            class="-->
<!--              btn btn-outline-dark-->
<!--              m-1-->
<!--              col-md-5 col-lg-5 col-xl col-sm-5 col-5-->
<!--              d-flex-->
<!--              flex-row-->
<!--              align-items-center-->
<!--              justify-content-center-->
<!--            "-->
<!--            href="https://vk.com/therealdmi"-->
<!--            rippleColor="dark"-->
<!--            target="_blank"-->
<!--            mdbRipple-->
<!--            ><i class="fab fa-vk"></i>&nbsp; Вконтакте</a-->
<!--          >-->
          <!-- Инстаграм -->
<!--          <a-->
<!--            class="-->
<!--              btn btn-outline-dark-->
<!--              m-1-->
<!--              col-md-5 col-lg-5 col-xl col-sm-5 col-5-->
<!--              d-flex-->
<!--              flex-row-->
<!--              align-items-center-->
<!--              justify-content-center-->
<!--            "-->
<!--            href="https://instagram.com/di._736"-->
<!--            rippleColor="dark"-->
<!--            target="_blank"-->
<!--            mdbRipple-->
<!--            ><i class="fab fa-instagram"></i>&nbsp; Инстаграм</a-->
<!--          >-->
              <!-- Youtube -->
<!--          <a-->
<!--            class="-->
<!--              btn btn-outline-dark-->
<!--              m-1-->
<!--              col-md-5 col-lg-5 col-xl col-sm-5 col-5-->
<!--              d-flex-->
<!--              flex-row-->
<!--              align-items-center-->
<!--              justify-content-center-->
<!--            "-->
<!--            href="https://www.youtube.com/channel/UCoybzfICNqmnm8EqdhNBSyA"-->
<!--            rippleColor="dark"-->
<!--            target="_blank"-->
<!--            mdbRipple-->
<!--            ><i class="fab fa-youtube"></i>&nbsp; Youtube</a-->
<!--          >-->
          <a
            class="
              btn btn-outline-dark
              m-1
              d-flex
              flex-row
              align-items-center
              justify-content-center
            "
            href="mailto:diman28051999@gmail.com"
            rippleColor="dark"
            target="_blank"
            mdbRipple
            ><i class="fas fa-envelope"></i>&nbsp; Gmail</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
