<div class="container">
  <div class="row">
    <header>
      <!-- Background image -->
      <div
        id="intro-example"
        class="p-5 text-center bg-image"
        style="
          background-image: url('https://media.kingston.com/kingston/hero/ktc-articles-solutions-speed-up-your-mac-hero-lg.jpg');
        "
      >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <h1 class="mb-3">Welcome on my portfolio</h1>
              <h5 class="mb-4">I want to present my projects for you!</h5>
              <a
                class="btn btn-outline-light btn-lg m-2"
                [routerLink]="['/features']"
                role="button"
                rel="nofollow"
                >View projects</a
              >
              <a
                class="btn btn-outline-light btn-lg m-2"
                href="https://mdbootstrap.com/docs/standard/"
                target="_blank"
                role="button"
                >Send mail</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Background image -->
    </header>
  </div>
</div>
