<div class="container">

  <div class="row">

    <!-- ИТ-диктант -->
    <div class="card flex-column flex-md-column flex-lg-row flex-xl-row flex-xxl-row flex-sm-column">
      <!-- Описание (текст) -->
      <div class="card-body">
        <h5 class="card-title">Всероссийский диктант по информационным технологиям «ИТ-диктант»</h5>
        <p class="card-text">
          ИТ-диктант — это набор тестовых заданий разного уровня сложности, от основ работы с компьютерной техникой и
          навыков использования Интернет-ресурсов до познаний в таких темах, как блокчейн и интернет вещей. Задача
          тестирования оценить уровень компетенций участников, владение базовыми и продвинутыми цифровыми навыками.
        </p>
        <a class="btn btn-primary" href="https://xn----8sblocmw8aec.xn--p1ai/" target="_blank" type="button">Узнать
          подробнее</a>
      </div>
      <!-- Изображение -->
      <div class="col-12 col-md-12 col-lg-8 col-xl-6 col-xxl-7 col-sm-12 shadow-1-strong">
        <img alt="IT-dictation 2021 certificate" class="w-100 hover-shadow rounded" src="assets/images/certificate.png"/>
      </div>
    </div>

    <!-- WorldSkills -->
    <div class="my-5 card flex-column flex-md-column flex-lg-row flex-xl-row flex-xxl-row flex-sm-column">
      <!-- Описание (текст) -->
      <div class="card-body">
        <h5 class="card-title">Региональный чемпионат профмастерства «Молодые профессионалы» в формате
          WorldSkills</h5>
        <p class="card-text">
          WorldSkills – это международное некоммерческое движение, целью которого является повышение престижа
          профессионального мастерства и развитие профессионального образования путем гармонизации лучших практик и
          стандартов во всем мире посредством организации и проведения чемпионатов как в каждой отдельной стране, так
          и во всем мире в целом
        </p>
        <hr style="margin-right: 1rem;">
        <p><strong>Дата проведения:</strong> 2019 г. </p>
        <p><strong>Компетенция:</strong> "Программные решения для бизнеса" </p>
        <p><strong>Результат:</strong> Победитель (1 место) </p>
        <button class="btn btn-primary" type="button">Подробнее о WorldSkills</button>
      </div>
      <!-- Изображение -->
      <div class="col-12 col-md-12 col-lg-8 col-xl-6 col-xxl-7 col-sm-12 d-flex justify-content-center">
        <img alt="WorldSkills achievements" class="w-100 hover-shadow rounded" src="assets/images/ws.jpg"/>
      </div>
    </div>

  </div>
</div>
