<div class="container">
  <div class="card flex-column flex-md-column flex-lg-row flex-xl-row flex-xxl-row flex-sm-column">
    <div class="col-12 col-md-12 col-lg-4 col-xl-6 col-xxl-5 col-sm-12">
      <div class="card-body">
        <h5 class="card-title">Всероссийский диктант по информационным технологиям «ИТ-диктант»</h5>
        <p class="card-text">
          ИТ-диктант — это набор тестовых заданий разного уровня сложности, от основ работы с компьютерной техникой и
          навыков использования Интернет-ресурсов до познаний в таких темах, как блокчейн и интернет вещей. Задача
          тестирования оценить уровень компетенций участников, владение базовыми и продвинутыми цифровыми навыками.
        </p>
        <a class="btn btn-primary" href="https://xn----8sblocmw8aec.xn--p1ai/" target="_blank" type="button">Узнать
          подробнее</a>
      </div>

    </div>
    <div class="col-12 col-md-12 col-lg-8 col-xl-6 col-xxl-7 col-sm-12 shadow-1-strong">
      <img class="w-100 hover-shadow rounded" src="assets/images/certificate.png" alt="IT-dictation 2021 certificate"/>
    </div>
  </div>
</div>
