<div class="container-fluid p-0 m-0">
  <div class="row p-0 m-0">
    <header class="p-0 m-0">
      <!-- Background image -->
      <div
        id="intro-example"
        class="p-5 text-center bg-image m-0"
        style="
          background-image: url('assets/images/bg.jpg');
        "
      >
        <div class="mask p-0 m-0" style="background-color: rgba(0, 0, 0, 0.7)">
          <div class="container h-100">
            <div class="d-flex justify-content-left align-items-center h-100">
              <div class="text-light">
                <h1 class="mb-3 text-start" >Трушенков Дмитрий</h1>
                <h5 class="mb-4 text-start">Java разработчик в <strong>ООО "АйТи Софт"</strong></h5>
                <a
                  class="btn btn-outline-light btn-lg my-2 my-sm-2 my-md-0 my-lg-0 my-xl-0 my-xxl-0"
                  [routerLink]="['/projects']"
                  role="button"
                  rel="nofollow"><i class="fas fa-bars"></i> Перейти к проектам</a>
                <a
                  class="btn btn-outline-light btn-lg mx-2 mx-md-4 mx-sm-4 mx-lg-4 mx-xl-4 mx-xxl-4 my-sm-2 my-md-0 my-lg-0 my-xl-0 my-xxl-0 my-2"
                  href="mailto:diman28051999@gmail.com"
                  target="_blank"
                  role="button"
                ><i class="fas fa-envelope"></i> Отправить письмо</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Background image -->
    </header>
  </div>
</div>

<!--<app-footer></app-footer>-->
