<div class="container" style="margin-top: 5rem; margin-bottom: 3rem">
  <!-- Frontend -->
  <div class="row">
    <h1 class="text-center my-2">Frontend</h1>
    <!-- HTML -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/html.jpg"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>HTML</strong></p>
        </div>
      </div>
    </div>

    <!-- CSS -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/css.png"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>CSS</strong></p>
        </div>
      </div>
    </div>

    <!-- Javascript -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/javascript.jpg"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>JavaScript</strong></p>
        </div>
      </div>
    </div>

    <!-- TypeScript -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/typescript.png"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>TypeScript</strong></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Backend -->
  <div class="row">
    <h1 class="text-center my-2">Backend</h1>

    <!-- Java -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/java.png"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>Java</strong></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Frameworks and other development stack -->
  <div class="row">
    <h1 class="text-center my-2">Frameworks and other development stack</h1>

    <!-- Angular -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/angular.png"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>Angular</strong></p>
        </div>
      </div>
    </div>

    <!-- Metro 4 -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/metro4.png"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>Metro 4</strong></p>
        </div>
      </div>
    </div>

    <!-- Spring Framework -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/spring.png"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>Spring Framework</strong></p>
        </div>
      </div>
    </div>

    <!-- IntelliJ IDEA -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/idea.jpg"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>IntelliJ IDEA</strong></p>
        </div>
      </div>
    </div>

    <!-- WebStorm -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/webstorm.jpg"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>WebStorm</strong></p>
        </div>
      </div>
    </div>

    <!-- Data Grip -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/datagrip.jpg"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>Data Grip</strong></p>
        </div>
      </div>
    </div>

    <!-- Git -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/git.png"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>Git</strong></p>
        </div>
      </div>
    </div>

    <!-- Maven -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/maven.png"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>Maven</strong></p>
        </div>
      </div>
    </div>

    <!-- PostgreSQL -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/postgresql.webp"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>PostgreSQL</strong></p>
        </div>
      </div>
    </div>

    <!-- DBeaver -->
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-sm-4 my-3">
      <div class="card hover-overlay shadow-2-strong">
        <img
          alt="..."
          class="card-img-top"
          src="assets/images/develop-stack/dbeaver.png"
        />
        <div class="card-body">
          <p class="card-text text-center"><strong>DBeaver</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
